@font-face {
  font-family: wix;
  font-display: swap;
  src: url(../font/Wix_Madefor_Text.ttf);
}

:root {
  --background-color: white;
  --background-color-primary: #ff9b61;
  --background-color-secondary: #ffc6a3;
  --background-color-tertiary: #ffebde;
  --background-color-hover: #ffb96a55;
  --delete-button-background: #e23d28;
  --task-color: black;
  --task-background-color: #ccc;
  --task-background-color-completed: #3eb489;
  --task-background-color-secondary: #e1e1e1;
  --task-background-color-count: #3e8fb4;
  --user-select-color: #ffb96a55;
  --user-select-text-color: black;
  --scrollbar-width: 1vw;
  --animation-transition-time: 250ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --background-color-primary: #101010;
    --background-color-secondary: #303030;
    --task-color: #ccc;
    --task-background-color: #303030;
    --task-background-color-secondary: #666;
    --user-select-color: #ffb96a75;
    --user-select-text-color: white;
  }
}

*::selection {
  background-color: var(--user-select-color);
  color: var(--user-select-text-color);
}

body {
  background-color: var(--background-color);
  color: var(--task-color);
  font-family: wix;
  font-size: 1vw;
  margin: 0px;
}

nav {
  position: fixed;
  left: 100%;
  width: 20%;
  height: 100%;
  transform: translate(-100%);
  background-color: var(--background-color-primary);
  box-sizing: border-box;
  padding: 1.5em;
}

nav > header > h1 {
  font-weight: 475;
  font-size: 3.5em;
  user-select: none;
  margin: 0px;
  text-align: left;
}

#main {
  position: fixed;
  width: 80%;
  height: 100%;
  box-sizing: border-box;
}

#task-container {
  position: relative;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
  padding: 10vh 0;
  scrollbar-gutter: stable;
}

#task-container::-webkit-scrollbar {
  background-color: var(--background-color);
  width: var(--scrollbar-width);
  cursor: pointer;
}

#task-container::-webkit-scrollbar-thumb {
  background-color: var(--background-color-secondary);
  cursor: pointer;
}

#task-container > div {
  position: relative;
  width: 50%;
  left: calc(50% + var(--scrollbar-width) / 2);
  transform: translate(-50%);
  border: 2px solid var(--task-background-color);
  padding: 10px 12px;
  box-sizing: border-box;
  border-radius: 1em;
}

#task-container > div {
  margin-bottom: 1em;
}

#task-container > div > hgroup {
  position: relative;
  display: flex;
  font-size: 0.85em;
}

#task-container > div > hgroup > div:first-child {
  align-self: flex-end;
  margin-left: auto;
}

#task-container > div > hgroup *:is(button) {
  position: relative;
  height: 2em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0px;
  background-color: transparent;
  transition: var(--animation-transition-time);
  transition-property: background-color;
  cursor: pointer;
  outline: none;
}

#task-container > div > hgroup *:is(button):hover {
  background-color: var(--background-color-hover);
}

#task-container > div > hgroup *:is(button > img) {
  user-select: none;
  -webkit-user-drag: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 1.5em;
}

#task-container > div > div > p {
  line-height: 1.75;
  margin: 0.5em 0;
  padding: 0;
  font-size: 0.9em;
  width: 90%;
  word-break: break-all;
  transition-property: color, text-decoration, padding, border-left;
  transition-duration: var(--animation-transition-time);
}

#task-container > div > div > p[contenteditable] {
  outline: none;
  padding-left: 10px;
  border-left: 0.2em solid var(--task-background-color-completed);
}

#task-container > div[data-checked="checked"] > div > p {
  color: #bbb;
  text-decoration: line-through;
}

#task-container > div > div {
  display: grid;
  grid-template-columns: 8% 92%;
}

#task-container > div > div > div {
  position: relative;
  padding-top: 0.25em;
}

#task-container > div > div > div > input[type="checkbox"] {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: var(--task-background-color-secondary);
  width: 50%;
  aspect-ratio: 1/1;
  outline: none;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--animation-transition-time);
}

#task-container > div > div > div > input[type="checkbox"]:checked {
  background-color: var(--task-background-color-completed);
}

#task-form {
  display: flex;
  position: absolute;
  height: 7%;
  left: 50%;
  top: 90%;
  width: 45%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--task-background-color);
  padding: 0.25em 1em;
  box-sizing: border-box;
  border-radius: 2em;
  background-color: var(--background-color);
}

#task-submit-input {
  font-family: wix;
  font-size: 1em;
  border: 0px;
  background-color: transparent;
  outline: none;
  width: 90%;
  text-overflow: ellipsis;
  color: var(--task-color);
}

#task-submit-input::placeholder {
  user-select: none;
  color: var(--task-background-color);
}

#task-submit-button {
  position: relative;
  outline: none;
  background-color: transparent;
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: 0px;
  cursor: pointer;
  align-self: flex-end;
  margin-left: auto;
  height: 100%;
  transition-property: background-color;
  transition-duration: var(--animation-transition-time);
}

#task-submit-button > img {
  position: absolute;
  user-select: none;
  -webkit-user-drag: none;
  left: 50%;
  top: 50%;
  height: 70%;
  aspect-ratio: 1/1;
  transform: translate(-50%, -50%);
}

#task-submit-button:active {
  background-color: var(--background-color-hover);
}

#tasklist-tags {
  margin: 0px;
  padding: 0.8em 0;
  list-style: none;
  user-select: none;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

#tasklist-tags > li {
  border: 1.5px solid black;
  font-weight: 500;
  padding: 0.25em;
  border-radius: 0.4em;
  transition-property: background-color;
  transition: 300ms;
  font-size: 0.8em;
  word-break: keep-all;
}

#task-count-field {
  background-color: var(--task-background-color-count);
}

#task-completion-field {
  background-color: var(--task-background-color-completed);
}

#task-delete-button {
  background-color: var(--delete-button-background);
  cursor: pointer;
}

#prompt-delete-window {
  display: none;
  position: fixed;
  background-color: var(--background-color);
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9000;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid var(--task-color);
}

#prompt-delete-window > h1 {
  font-weight: 100;
  font-weight: 2em;
}

#prompt-closer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  cursor: pointer;
  z-index: 8000;
}

#delete-all-tasks-button {
  font-family: wix;
  font-size: 1.25em;
  color: var(--task-color);
  height: 2em;
  padding: 0.25em 0.5em;
  box-sizing: border-box;
  background-color: #ed2939;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 0.5em;
  transition-property: color, backgorund-color;
  transition-duration: var(--animation-transition-time);
  user-select: none;
}

#delete-all-tasks-button:hover {
  background-color: var(--task-color);
  color: var(--background-color);
}
