@font-face {
  font-family: geist;
  font-display: swap;
  src: url(../font/Geist/Geist-VariableFont_wght.ttf);
}

:root {
  --background-color-primary: #fff;
  --animation-transition-duration: 500ms; 
}

body {
  background-color: var(--background-color-primary);
  font-family: geist;
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}

input,
button {
  font-family: geist;
  font-weight: 300;
}

/* 
App main
*/

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

nav {
  width: 20vw;
  height: 100%;
  border-right: 1px solid black;
  padding: 1em;
  box-sizing: border-box;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  transition-property: font-weight;
  transition-duration: var(--animation-transition-duration);
  cursor: pointer;
  user-select: none;
}

nav > ul > li:hover {
  font-weight: 600;
}

/* 
Main
*/

main {
  height: 100%;
  width: 80vw;
  position: relative;
}

/* 

Tasks view

*/
.view {
  position: absolute;
  height: 100%;
  width: 100%;
}

#view-task-list {
  display: none;
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--animation-transition-duration);
}

#view-task-list > :is(header, #input-wrapper) {
  position: absolute;
  z-index: 5000;
}

#view-task-list > header {
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: white;
  z-index: 5000;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 0.5em;
}

#view-task-list > header > input {
  font-weight: 500;
  font-size: 1.25em;
  outline: none;
  border: 0;
  background-color: transparent;
}

#view-task-list > #task-list {
  position: absolute;
  top: 8%;
  height: 92%;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 2em;
  padding-bottom: 50vh;
  z-index: 1000;
}

#view-task-list > #task-list::-webkit-scrollbar {
  background-color: transparent;
}

#view-task-list > #task-list::-webkit-scrollbar-thumb {
  background-color: black;
}

#view-task-list > #task-list > li {
  position: relative;
  left: 50%;
  width: 50%;
  transform: translate(-50%);
  border: 1px solid black;
  list-style: none;
  margin-bottom: 1em;
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 0.5em;
}

#view-task-list > #input-wrapper {
  position: absolute;
  width: 45%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%);
  z-index: 5000;
  border: 1px solid black;
  display: flex;
  align-items: center;
  border-radius: 0.75em;
  background-color: white;
}

#view-task-list > #input-wrapper > input {
  background-color: transparent;
  border: 0;
  font-size: 1em;
  outline: none;
  height: 2.5em;
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
}

#view-task-list > #input-wrapper > button {
  margin-left: auto;
  justify-self: flex-end;
  margin-right: 0.5em;
  user-select: none;
  height: 2em;
  width: 2em;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-size: 1em;
}

/*

Task lists view 

*/
#view-list {
  padding: 2em;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity;
  transition-duration: var(--animation-transition-duration);
}

.dark-button {
  background-color: black;
  color: white;
  border: 1px solid black;
  font-size: 1em;
  cursor: pointer;
  height: 2em;
  padding: 0 1em;
  margin: 1em 0;
  user-select: none;
  transition: var(--animation-transition-duration);
}

.dark-button:hover {
  background-color: white;
  color: black;
}

/*

Popups

*/

#popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0008;
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--animation-transition-duration);
  cursor: pointer;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  padding: 2em;
  box-sizing: border-box;
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--animation-transition-duration);
  z-index: 1000;
}

#list-name-input {
  border: none;
  outline: none;
  font-size: 1.5em;
  margin: 0.5em 0;
}

#create-list-button {
  display: block;
}

#task-lists {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 2em;
  margin: 2em 0;
  padding: 0;
}

#task-lists > li {
  border: 1px solid black;
  padding: 1em;
  height: fit-content;
  cursor: pointer;
}